<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitemap editor</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="sitemap-editor.js"></script>
    <link rel="stylesheet" href="sitemap-editor.css">
</head>
<body>
<div class="container">
    <h2>Sitemap editor</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Link</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    <div class="row text-center">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success">Save changes</button>
        </div>
    </div>
    <div class="row"><div class="footer"></div></div>
</div>
</body>
</html>